/* .stack-gallery-section{
    position: relative;
    min-width: 100%;
    min-height: 50vh;
  }
  
  .stack-gallery-section img{
    width:80%;
    position: absolute;
    z-index:30;
    transition:all .5s;
    box-shadow: -3px 1px 5px rgba(0,0,0,.5);
    border-radius: 5px;
    max-width: 500px;
  }
  
  .stack-gallery-section .img1{
    right:0;
    bottom: 0;
  }
  
  .stack-gallery-section .img2{
    right:3rem;
    bottom:2rem;
    z-index:20;
  }
  
  .stack-gallery-section .img3{
    right:6rem;
    bottom:4rem;
    z-index:10;
  }
  
  .stack-gallery-section img:hover{
    z-index:20;
    transform: scale(1.2) rotate(-10deg);
  }
  
  .stack-gallery-section:hover img:not(:hover){
    transform:scale(.9);
    opacity:0;
  }
  
  @media screen and (max-width:500px){
    .stack-gallery-section .img1{
      left:0rem;
    }
  
    .stack-gallery-section .img2{
      left:0rem;
      top:1rem;
    }
  
    .stack-gallery-section .img3{
      left:0rem;
      top:2rem;
    }
  } */

  .gallery-stack{
    position: relative;
    height: 100%;
  }

  .gallery-stack .s-img-container{
    position: absolute;
    max-width: 700px;
    max-height: 450px;
    width: 100%;
    height: 500px;
    overflow: hidden;
    border-radius: 5px;
    transition: .5s ease;
    display: flex;
    align-items: center;
  }
  
  .gallery-stack .s-img-container.circle{
    /* max-height: 550px;
    max-width: 520px;
    min-height: 300px;
    min-width: 300px; */
    /* max-height: none; */
    height: auto;
    width: 100%;
    border-radius: 50%;
    transition: .2s ease;
    top: 0 !important;
    left: 0;
    margin: auto;
  }

  .gallery-stack .s-img-container.circle img{
    height: auto;
    width: 100%;
    transition: .5s ease;
    
  }

  .gallery-stack .s-img-container.circle:hover img{
    /* transform:translateY(0%) scale(1); */
    height: auto;
    width: 100%;
  }

  .gallery-stack .stack-0.circle:hover {
    /* transform:scale(1.1); */
    border-radius: 5px;
    max-width: 700px;
    max-height: 500px;
    width: auto;
    height: 500px;
  }

  .gallery-stack .s-img-container img{
    height: auto;
    width: 100%;
    transition: .5s ease;
    /* transform: translate(-50%,-150%); */
  }
  /* .gallery-stack .s-img-container:hover{
    z-index: 100 !important;
  }
  .gallery-stack .s-img-container:hover img{
    opacity: 1 !important;
  } */

  @media (max-width: 1200px) {
    .gallery-stack .s-img-container.circle{
      /* max-height: 450px;
      max-width: 520px;
      min-width: 520px; */
    }
  }

  @media (max-width: 768px) {
    .gallery-stack .s-img-container{

      max-width: 700px;
      max-height: 350px;
      width: 100%;
      height: auto;
      right:0 !important;
      left:0 !important;

    }
    .gallery-stack .s-img-container.circle{

      /* min-height: 300px;
      min-width: 300px; */
      height: auto;
      width: 100%;
      right: 0 !important;
      left: 0 !important;
      margin: auto;

    }
    .gallery-stack .s-img-container img{
      height: auto;
      width: 100%;
    }
    .gallery-stack .s-img-container.circle img{
      height: auto;
      width: 100%;
    }
  }

  @keyframes firstStackFadeIn {
    0%   {transform: translate(0px, -50%); opacity:0}
    100% {transform: translate(0px, 0px); opacity:1}
  }
  @keyframes firstStackFadeOut {
    0%   {transform: translate(0px, 0px); opacity:0}
    50% {transform: translate(0px, 150px); opacity:0}
    100% {transform: translate(0px, 0px); opacity:1}
  }
  @keyframes firstStackFadeInCircle {
    0%   {transform: translate(-10%, 0px); opacity:0}
    100% {transform: translate(0px, 0px); opacity:1}
  }
  @keyframes firstStackFadeOutCircle {
    0%   {transform: translate(0px, 0px); opacity:0}
    50% {transform: translate(-10%, 0px); opacity:0}
    100% {transform: translate(0px, 0px); opacity:1}
  }

  .stack-down{
    animation-name: firstStackFadeIn;
    animation-duration: 1s;
  }
  .stack-out{
    animation-name: firstStackFadeOut;
    animation-duration: 1s;
  }
  .circle.stack-down{
    animation-name: firstStackFadeInCircle;
    animation-duration: 1s;
  }
  .circle.stack-out{
    animation-name: firstStackFadeOutCircle;
    animation-duration: 1s;
  }
  
  /* The element to apply the animation to */
  .left .stack-0 {
    z-index: 50; right: 0rem; bottom: 0rem;
  }
  .left .stack-1 {
    z-index: 49; right: 1rem; bottom: 1rem;
  }
  .left .stack-2 {
    z-index: 48; right: 2rem; bottom: 2rem;
  }
  .left .stack-3 {
    z-index: 47; right: 3rem; bottom: 3rem;
  }
  .left .stack-4 {
    z-index: 46; right: 4rem; bottom: 4rem;
  }


  .left .stack-0 img{
    opacity: 1;
  }
  .left .stack-1 img{
    opacity: 0;
  }
  .left .stack-2 img{
    opacity: 0;
  }
  .left .stack-3 img{
    opacity: 0;
  }
  .left .stack-4 img{
    opacity: 0;
  }

  .right .stack-0 {
    z-index: 50; left: 0rem; bottom: 0rem;
  }
  .right .stack-1 {
    z-index: 49; left: 1rem; bottom: 1rem;
  }
  .right .stack-2 {
    z-index: 48; left: 2rem; bottom: 2rem;
  }
  .right .stack-3 {
    z-index: 47; left: 3rem; bottom: 3rem;
  }
  .right .stack-3 {
    z-index: 46; left: 4rem; bottom: 4rem;
  }

  .right .stack-0 img{
    opacity: 1;
  }
  .right .stack-1 img{
    opacity: 0;
  }
  .right .stack-2 img{
    opacity: 0;
  }
  .right .stack-3 img{
    opacity: 0;
  }
  .right .stack-4 img{
    opacity: 0;
  }

  


